html{
   background-color: #141411;
    scroll-behavior: smooth;
}

#root{
    background-color: #141411;
}

#projects{
    scroll-margin-top: 100px
}

#resume {
    scroll-margin-top: 60px;
}

#about-me{
  scroll-margin-top: 100px;
}

.main-info{
    animation: 1s scale;
    -webkit-animation: 1s scale;
}

.titleee, .portrait, .subtitleee, .icon{
    animation: fadein 3s;
    -webkit-animation: fadein 2s;
}

.devstack{
    animation: slide-in-blurred 1.2s cubic-bezier(0.22, 0.61, 0.36, 1) both;
    -webkit-animation: slide-in-blurred 1.2s cubic-bezier(0.22, 0.61, 0.36, 1) both;
}


@keyframes wavy {
    0% {
      top: 0px;
    }
    50% {
      top: -10px;
    }
    100% {
      top: 0px;
    }
  }

@keyframes scale {
    from {transform: scale(0.8);}
    to { transform: scale(1);}
}

@keyframes fadein {
    from { opacity: 0; filter: blur(4px);}
    to   { opacity: 1; filter: blur(0);}
}

  @keyframes slide-in-blurred {
    0% {
      transform: translateY(600px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 100%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }
  
  